In [24]:
import pandas as pd
import re

# treatment_drug.csv

In [26]:
s = '../data/treatment_drug.csv'


treat = pd.read_csv(s, delimiter=';')


pd.set_option('display.max_columns', None)

In [27]:
treat.head()

               country  year  count
0         South Africa  2020  13417
1         South Africa  2018  17881
2         South Africa  2017  19492
3  Antigua and Barbuda  2021     11
4              Jamaica  2013     94

In [28]:
treat.shape

(73, 3)

In [30]:
treat.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  73 non-null     object
 1   year     73 non-null     int64
 2   count    73 non-null     int64
dtypes: int64(2), object(1)
memory usage: 5.9 KB

In [33]:
 unique_values = treat['country'].unique()
 print(unique_values)

['South Africa' 'Antigua and Barbuda' 'Jamaica' 'Costa Rica' 'Mexico'
 'Argentina' 'Chile' 'Colombia' 'Ecuador' 'Uruguay' 'Thailand' 'Croatia'
 'Austria' 'Belgium' 'Czechia' 'Italy' 'Luxembourg' 'Malta' 'Portugal'
 'Slovenia' 'Spain' 'Australia']

In [34]:
list = ['Antigua and Barbuda', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Belize', 'Bermuda', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Dominica', 'Ecuador', 'Israel', 'Italy', 'Jamaica', 'Luxembourg', 'Malta', 'Mexico', 'Portugal', 'Slovenia', 'South Africa', 'Spain', 'Switzerland', 'Thailand', 'Trinidad and Tobago', 'Uruguay']

In [35]:
non_duplicate_values = treat.loc[~treat['country'].isin(list), 'country'].unique()
print(non_duplicate_values)

['Czechia']

In [37]:
 unique_values = treat['count'].unique()
 print(unique_values)

[ 13417  17881  19492     11     94  38630  16844  23285  10499  96772
  71949 121228  92458  77681  50266  16497  15517  20467  21294  20807
   9175   5448   4778   4275  53609 110970   2730   2204   2567   2285
   1786 227126   5378   5478   6831   7241   4531   5056   4830   4414
  11991  11017  11014  11066   7006   4386   7509   4775 123871 125428
 136320 133060 129956    241    239    306   1984   1845  23932  23569
   3471   3461   3307   1672   1794   2488  38544  50035  47972  46799
  86014  85233]

In [38]:
treat.head()

               country  year  count
0         South Africa  2020  13417
1         South Africa  2018  17881
2         South Africa  2017  19492
3  Antigua and Barbuda  2021     11
4              Jamaica  2013     94

In [39]:
start = 1

treat.insert(0, 'treat_id', range(start, start + len(treat)))
treat.head()

   treat_id              country  year  count
0         1         South Africa  2020  13417
1         2         South Africa  2018  17881
2         3         South Africa  2017  19492
3         4  Antigua and Barbuda  2021     11
4         5              Jamaica  2013     94

In [40]:
treat.to_csv('treat.csv', index=False)