In [1]:
import pandas as pd
import re

In [2]:
# victim_intentional_homicide.csv

s = '../data/victim_intentional_homicide.csv'

vic = pd.read_csv(s, delimiter=';')

pd.set_option('display.max_columns', None)

In [3]:
vic.head()

       country  year  count
0    Australia  1998    334
1      Austria  1998     77
2       Canada  1998    559
3  Switzerland  1998     76
4     Colombia  1998  23089

In [4]:
vic.shape

(618, 3)

In [5]:
vic.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  618 non-null    object
 1   year     618 non-null    int64
 2   count    618 non-null    int64
dtypes: int64(2), object(1)
memory usage: 49.1 KB

In [6]:
 unique_values = vic['count'].unique()
 print(unique_values)

[  334    77   559    76 23089   224   174     9  1643   522   105   147
   889   859     4 13656     5   125    14  5361   244 25127   385    60
     2   539    89 24355   245   172     7  1682   486   111   137   819
   854     6 12249    10   109    25  5052   216 22604   362    82   212
    41   546    69 26539   249   191  1833   553   101   154   766   887
 10737   116    36  5142   120   214 21758  3129   347    70   282    64
     3   554    86 27840   257   135     1  1658   577    81   193   709
  1139 10285    28  5020   151   218 21405  3570   366    65   319    87
   582 28387   258   139  1906   564    73   208   644  1045 10088   119
  4538   171   231 21553  2967   302    50    67   549   513 23523   300
   163     8   587   975 10087    21  6434   229   197 19824  2338   263
    59    79   625 20210   280   134   520    83   159  1471  9329    27
  4273   260   200 18793  2198   259    54   664   576 18111   335   108
   518    68   169   610  1674  9921    20  4806   386   190 18528  2111
    11   281    61    92   608   590 17479   351   130   476    74   153
  1340 10452    12  4687   371   202 19106  2139    17   255    45    97
   597   616 17198   369   126  2273   482    62   631  1584  8867    24
  4435   391   194 18400  2371    16   261    58   103   614   588 16140
   512   114  2607   407    71   615  1619 14006  3974   547   221 18084
  2642    51   630 15817   525    94    13  2625   412    49   144  1683
 19803  3703   507   226 16767  2384   129   557    52   541 15459   527
    15  2624   401   150   529  1447 25757   124  3654   473   205 15893
  2511   248   609    46   636 16127   474  2343   552  1133 27213  3307
   352   199 15554  2648   243   145   434 16440  1922   364   128   530
  1102 25967   122   380   267 16213  3072    99   509    57   556 15422
   411    90  1725   127   502  1202 23063 17023  3228    42   123   438
 13343   477  1310   323   475  1005 20010   405   268 17805  2837   236
    44   611   419 12783    88  1050    37   110   469  1209 20762   100
   420   293 18673   227   138   620 12402   578   959   294   104   404
  1354 24559    66   463 19016  2317   142   665   779 12298   603    19
   970   307   376  1647 32079   495   283 20336   143   662   825 12926
   585   994   289   359  1289 36685   517   421 21022  2307   225   689
   751 12925   563  1187   331    33   132   317 36661   394 21325  2417
   102   759    47   926 12347   570  1372   298    40   285  1333 36773
   399   338 19972  2093   788   708 14159  2496   290   173   303  1474
 35700   448   305 24865]

In [7]:
vic = vic.drop_duplicates()

vic.shape

(618, 3)

In [9]:
start = 1

vic.insert(0, 'vic_id', range(start, start + len(vic)))
vic.head()

   vic_id      country  year  count
0       1    Australia  1998    334
1       2      Austria  1998     77
2       3       Canada  1998    559
3       4  Switzerland  1998     76
4       5     Colombia  1998  23089

In [10]:
vic.to_csv('victim.csv', index=False)