In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
base_url = "https://en.wikipedia.org/wiki/Legality_of_cannabis#"

data = []

for char in range(ord("A"), ord("Z") + 1):
    url = base_url + chr(char)

    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    tables = soup.find_all("table")

    if len(tables) > 1:
        table = tables[1]  # Get the table at index 1 (index 1 in Python)

        rows = table.find_all("tr")

        for row in rows:
            cols = row.find_all("td")
            cols = [col.text.strip() for col in cols]
            data.append(cols)
        break

df1 = pd.DataFrame(data)

In [5]:
df1.head()

,0,1,2,3
0,None,None,None,None
1,Afghanistan,Illegal,Illegal,Main article: Cannabis in Afghanistan Producti...
2,Albania,Illegal,Legal,Main article: Cannabis in Albania Prohibited b...
3,Algeria,Illegal,Illegal,Main article: Cannabis in Algeria
4,Andorra,Illegal,Illegal,Main article: Cannabis in Andorra

In [6]:
df1 = df1.drop([2], axis=1)
df1.shape

(203, 3)

In [33]:
# https://dataunodc.un.org/dp-prisons-persons-entering
# https://en.wikipedia.org/wiki/Legality_of_cannabis#
# https://dataunodc.un.org/dp-drug-use-prevalence-regional
# https://dataunodc.un.org/dp-intentional-homicide-victims
#https://estonianworld.com/life/estonians-among-biggest-marijuana-lovers/

In [8]:
df1.head()

             0        1                                                  3
0         None     None                                               None
1  Afghanistan  Illegal  Main article: Cannabis in Afghanistan Producti...
2      Albania  Illegal  Main article: Cannabis in Albania Prohibited b...
3      Algeria  Illegal                  Main article: Cannabis in Algeria
4      Andorra  Illegal                  Main article: Cannabis in Andorra

In [9]:
import pandas as pd
import numpy as np

column_index = 1  # Index of the specific column you want to apply the condition to

df2 = df1[~(df1.iloc[:, column_index].apply(lambda value: str(value).lower().find('illegal') != -1))]

In [10]:
df3 = df2.copy()
df3.iloc[:, 1] = df3.iloc[:, 1].fillna('').apply(lambda x: 'legal' if 'Legal' in str(x) else x)

In [11]:
df3.head(20)

,0,1,3
0,None,,None
6,Antigua and Barbuda,legal,Main article: Cannabis in Antigua and Barbuda
7,Argentina,Decriminalized,Main article: Cannabis in Argentina Decriminal...
9,Australia,legal,Main article: Cannabis in Australia In Septemb...
10,Austria,Possession for personal use decriminalized as ...,Main article: Cannabis in Austria
15,Barbados,legal,Main article: Cannabis in Barbados
17,Belgium,Decriminalized up to 3 g or cultivation of one...,Main article: Cannabis in Belgium Up to 3 g de...
18,Belize,Decriminalized up to 10 g,Main article: Cannabis in Belize Possession pr...
20,Bermuda,Decriminalized up to 7 g,Main article: Cannabis in Bermuda In November ...
22,Bolivia,Decriminalized up to 50 g,Main article: Cannabis in Bolivia
32,Canada,legal,Main articles: Cannabis in Canada and Cannabis...
36,Chile,Decriminalized for possession and cultivation,Main article: Cannabis in Chile Private person...
38,Colombia,Decriminalized up to 22 g or cultivation of 20...,Main article: Cannabis in Colombia Decriminali...
43,Costa Rica,Decriminalized[63][64],Main article: Cannabis in Costa Rica Decrimina...
44,Croatia,Decriminalized[66],Main article: Cannabis in Croatia Possession o...
47,Czech Republic,Decriminalized up to 10 g or cultivation of 5 ...,Main article: Cannabis in the Czech Republic P...
50,Dominica,Decriminalized up to 1 oz (28 grams)[77],Main article: Cannabis in Dominica
53,Ecuador,Decriminalized up to 10 g,Main article: Cannabis in Ecuador Possession o...
58,Estonia,Decriminalized,Main article: Cannabis in Estonia Up to 7.5 g ...
66,Georgia,legal,Main article: Cannabis in Georgia (country)

In [12]:
df3.iloc[:, 1] = df3.iloc[:, 1].fillna('').apply(lambda x: 'descriminalized' if 'Decriminalized' in str(x) else x)

In [13]:
df3.head(20)

,0,1,3
0,None,,None
6,Antigua and Barbuda,legal,Main article: Cannabis in Antigua and Barbuda
7,Argentina,descriminalized,Main article: Cannabis in Argentina Decriminal...
9,Australia,legal,Main article: Cannabis in Australia In Septemb...
10,Austria,Possession for personal use decriminalized as ...,Main article: Cannabis in Austria
15,Barbados,legal,Main article: Cannabis in Barbados
17,Belgium,descriminalized,Main article: Cannabis in Belgium Up to 3 g de...
18,Belize,descriminalized,Main article: Cannabis in Belize Possession pr...
20,Bermuda,descriminalized,Main article: Cannabis in Bermuda In November ...
22,Bolivia,descriminalized,Main article: Cannabis in Bolivia
32,Canada,legal,Main articles: Cannabis in Canada and Cannabis...
36,Chile,descriminalized,Main article: Cannabis in Chile Private person...
38,Colombia,descriminalized,Main article: Cannabis in Colombia Decriminali...
43,Costa Rica,descriminalized,Main article: Cannabis in Costa Rica Decrimina...
44,Croatia,descriminalized,Main article: Cannabis in Croatia Possession o...
47,Czech Republic,descriminalized,Main article: Cannabis in the Czech Republic P...
50,Dominica,descriminalized,Main article: Cannabis in Dominica
53,Ecuador,descriminalized,Main article: Cannabis in Ecuador Possession o...
58,Estonia,descriminalized,Main article: Cannabis in Estonia Up to 7.5 g ...
66,Georgia,legal,Main article: Cannabis in Georgia (country)

In [14]:
df3.iloc[:, 1] = df3.iloc[:, 1].fillna('').apply(lambda x: 'descriminalized' if 'decriminalized' in str(x) else x)

In [15]:
df3.head(20)

,0,1,3
0,None,,None
6,Antigua and Barbuda,legal,Main article: Cannabis in Antigua and Barbuda
7,Argentina,descriminalized,Main article: Cannabis in Argentina Decriminal...
9,Australia,legal,Main article: Cannabis in Australia In Septemb...
10,Austria,descriminalized,Main article: Cannabis in Austria
15,Barbados,legal,Main article: Cannabis in Barbados
17,Belgium,descriminalized,Main article: Cannabis in Belgium Up to 3 g de...
18,Belize,descriminalized,Main article: Cannabis in Belize Possession pr...
20,Bermuda,descriminalized,Main article: Cannabis in Bermuda In November ...
22,Bolivia,descriminalized,Main article: Cannabis in Bolivia
32,Canada,legal,Main articles: Cannabis in Canada and Cannabis...
36,Chile,descriminalized,Main article: Cannabis in Chile Private person...
38,Colombia,descriminalized,Main article: Cannabis in Colombia Decriminali...
43,Costa Rica,descriminalized,Main article: Cannabis in Costa Rica Decrimina...
44,Croatia,descriminalized,Main article: Cannabis in Croatia Possession o...
47,Czech Republic,descriminalized,Main article: Cannabis in the Czech Republic P...
50,Dominica,descriminalized,Main article: Cannabis in Dominica
53,Ecuador,descriminalized,Main article: Cannabis in Ecuador Possession o...
58,Estonia,descriminalized,Main article: Cannabis in Estonia Up to 7.5 g ...
66,Georgia,legal,Main article: Cannabis in Georgia (country)

In [16]:
#df4.iloc[:, 2] = df4.iloc[:, 2].astype(str).apply(lambda x: ' '.join(re.findall(r'\b\d{4}\b', x)))

In [17]:
unique_values = df3[1].unique()
print(unique_values)

['' 'legal' 'descriminalized' 'Un\xadknown']

In [18]:
df3.shape

(43, 3)

In [19]:
df3 = df3[(df3.iloc[:, 1] != '') & (df3.iloc[:, 1] != 'Un­known')]
df3.shape

(40, 3)

In [20]:
df3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 6 to 193
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       40 non-null     object
 1   1       40 non-null     object
 2   3       40 non-null     object
dtypes: object(3)
memory usage: 16.1 KB

In [21]:
df4 = df3.copy()
import re
df4.iloc[:, 2] = df4.iloc[:, 2].astype(str).apply(lambda x: ' '.join(re.findall(r'\b\d{4}\b', x)))

In [22]:
df4.head(20)

                      0                1          3
6   Antigua and Barbuda            legal
7             Argentina  descriminalized  2009 2017
9             Australia            legal  2019 2020
10              Austria  descriminalized
15             Barbados            legal
17              Belgium  descriminalized       2003
18               Belize  descriminalized
20              Bermuda  descriminalized  2016 2018
22              Bolivia  descriminalized
32               Canada            legal  2001 2018
36                Chile  descriminalized
38             Colombia  descriminalized
43           Costa Rica  descriminalized
44              Croatia  descriminalized
47       Czech Republic  descriminalized       2013
50             Dominica  descriminalized
53              Ecuador  descriminalized
58              Estonia  descriminalized
66              Georgia            legal
86               Israel  descriminalized       2019

In [23]:
df4.iloc[:, 2] = df4.iloc[:, 2].replace(r'^\s*$', -1, regex=True)
df4.head(20)

                      0                1          3
6   Antigua and Barbuda            legal         -1
7             Argentina  descriminalized  2009 2017
9             Australia            legal  2019 2020
10              Austria  descriminalized         -1
15             Barbados            legal         -1
17              Belgium  descriminalized       2003
18               Belize  descriminalized         -1
20              Bermuda  descriminalized  2016 2018
22              Bolivia  descriminalized         -1
32               Canada            legal  2001 2018
36                Chile  descriminalized         -1
38             Colombia  descriminalized         -1
43           Costa Rica  descriminalized         -1
44              Croatia  descriminalized         -1
47       Czech Republic  descriminalized       2013
50             Dominica  descriminalized         -1
53              Ecuador  descriminalized         -1
58              Estonia  descriminalized         -1
66              Georgia            legal         -1
86               Israel  descriminalized       2019

In [24]:
unique_values = df4.iloc[:, 0].unique()
print("Unique values of column index 0:", unique_values)

Unique values of column index 0: ['Antigua and Barbuda' 'Argentina' 'Australia' 'Austria' 'Barbados'
 'Belgium' 'Belize' 'Bermuda' 'Bolivia' 'Canada' 'Chile' 'Colombia'
 'Costa Rica' 'Croatia' 'Czech Republic' 'Dominica' 'Ecuador' 'Estonia'
 'Georgia' 'Israel' 'Italy' 'Jamaica' 'Luxembourg' 'Malta' 'Mexico'
 'Moldova' 'Netherlands' 'Paraguay' 'Peru' 'Portugal'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Slovenia' 'South Africa' 'Spain' 'Switzerland' 'Thailand'
 'Trinidad and Tobago' 'Uruguay']

In [25]:
df5 = df4.copy()

In [26]:
df5.reset_index(drop=True, inplace=True)
df5.head()

                     0                1          3
0  Antigua and Barbuda            legal         -1
1            Argentina  descriminalized  2009 2017
2            Australia            legal  2019 2020
3              Austria  descriminalized         -1
4             Barbados            legal         -1

In [27]:
row_count = len(df5)
print(row_count)

40

In [28]:
df5.rename(columns={0: 'country', 1: 'legal_descriminalized', 3: 'year'}, inplace=True)
df5.head()

               country legal_descriminalized       year
0  Antigua and Barbuda                 legal         -1
1            Argentina       descriminalized  2009 2017
2            Australia                 legal  2019 2020
3              Austria       descriminalized         -1
4             Barbados                 legal         -1

In [29]:
df5['legal_descriminalized'].replace({'descriminalized': 1, 'legal': 2}, inplace=True)
df5.head()

               country  legal_descriminalized       year
0  Antigua and Barbuda                      2         -1
1            Argentina                      1  2009 2017
2            Australia                      2  2019 2020
3              Austria                      1         -1
4             Barbados                      2         -1

In [30]:
df5

,country,legal_descriminalized,year
0,Antigua and Barbuda,2,-1
1,Argentina,1,2009 2017
2,Australia,2,2019 2020
3,Austria,1,-1
4,Barbados,2,-1
5,Belgium,1,2003
6,Belize,1,-1
7,Bermuda,1,2016 2018
8,Bolivia,1,-1
9,Canada,2,2001 2018
10,Chile,1,-1
11,Colombia,1,-1
12,Costa Rica,1,-1
13,Croatia,1,-1
14,Czech Republic,1,2013
15,Dominica,1,-1
16,Ecuador,1,-1
17,Estonia,1,-1
18,Georgia,2,-1
19,Israel,1,2019
20,Italy,1,-1
21,Jamaica,2,2015 2018
22,Luxembourg,2,2001 2023
23,Malta,2,2021 2021
24,Mexico,2,2009 2015 2018 2021
25,Moldova,1,-1
26,Netherlands,1,-1
27,Paraguay,1,-1
28,Peru,1,-1
29,Portugal,1,2001
30,Saint Kitts and Nevis,1,-1
31,Saint Lucia,1,-1
32,Saint Vincent and the Grenadines,1,-1
33,Slovenia,1,-1
34,South Africa,2,2018
35,Spain,1,2017
36,Switzerland,2,2012
37,Thailand,2,1935 2018 2022
38,Trinidad and Tobago,1,1925 2019
39,Uruguay,2,2013

In [31]:
df5.loc[[1, 2, 7, 9, 21, 22, 23, 24, 37, 38], 'year'] = [2009, 2019, 2018, 2018, 2015, 2023, 2021, 2021, 2022, 2019]

In [32]:
df5

                             country  legal_descriminalized  year
0                Antigua and Barbuda                      2    -1
1                          Argentina                      1  2009
2                          Australia                      2  2019
3                            Austria                      1    -1
4                           Barbados                      2    -1
5                            Belgium                      1  2003
6                             Belize                      1    -1
7                            Bermuda                      1  2018
8                            Bolivia                      1    -1
9                             Canada                      2  2018
10                             Chile                      1    -1
11                          Colombia                      1    -1
12                        Costa Rica                      1    -1
13                           Croatia                      1    -1
14                    Czech Republic                      1  2013
15                          Dominica                      1    -1
16                           Ecuador                      1    -1
17                           Estonia                      1    -1
18                           Georgia                      2    -1
19                            Israel                      1  2019
20                             Italy                      1    -1
21                           Jamaica                      2  2015
22                        Luxembourg                      2  2023
23                             Malta                      2  2021
24                            Mexico                      2  2021
25                           Moldova                      1    -1
26                       Netherlands                      1    -1
27                          Paraguay                      1    -1
28                              Peru                      1    -1
29                          Portugal                      1  2001
30             Saint Kitts and Nevis                      1    -1
31                       Saint Lucia                      1    -1
32  Saint Vincent and the Grenadines                      1    -1
33                          Slovenia                      1    -1
34                      South Africa                      2  2018
35                             Spain                      1  2017
36                       Switzerland                      2  2012
37                          Thailand                      2  2022
38               Trinidad and Tobago                      1  2019
39                           Uruguay                      2  2013